<%= form_for([@article, @comment, @comment.discussions.build]) do |f| %>
  <p>
    <%= f.label :Topic %><br>
    <%= f.text_field :topic %>
  </p>
  <p>
    <%= f.label :Post %><br>
    <%= f.text_area :opPost %>
  </p>
    <p>
    <%= f.label :User %><br>
    <%= f.text_field :userName %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>