<h2>Create a new discussion:</h2>
<%= form_for([@article, @comment, @comment.discussions.build]) do |f| %>
  <p>
    <%= f.label :topic %><br>
    <%= f.text_field :topic %>
  </p>
  <p>
    <%= f.label :opPost %><br>
    <%= f.text_area :opPost %>
  </p>
    <p>
    <%= f.label :userName %><br>
    <%= f.text_field :userName %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>