<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <header id="#top">
    <div class="row">
      <div class="large-4 column lpad">
        <div class="logo">
          <span>1q84a:</span>
          <span>1 question 84 answers</span>
        </div>
      </div>
      <div class="large-8 column ar lpad">
        <nav class="menu">
          <%= link_to 'Home', articles_path %>
          <%= link_to 'Back', article_comment_discussions_path(@article, @comment) %>
        </nav>     
      </div>
    </div>
  </header>
  <div class="row mt">
    <div class="large-12">
      <div class="large-12 forum-category rounded top">
        <div class="large-8 small-10 column lpad">
          <div id="title"><span>
          	<%= @discussion.topic %></span> 
          </div> 
          <div id="desc">
          	<span><%= @discussion.opPost %></span>
          </div>
          <div id="user">
          	<span>posted by <%= @discussion.userName %> on <%=@discussion.created_at.in_time_zone('Eastern Time (US & Canada)').to_time.strftime('%b %d %C%y at %l:%M %p') %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- <p><%= link_to 'Destroy', article_comment_discussion_path(@article, @comment, @discussion),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p> -->
<%= render @replies %>
<%= render 'replies/form' %>