  <strong>Event:</strong>
  <%= comment.name %>
</p>
 
<p>
  <strong>Event Description:</strong>
  <%= comment.desc %>
</p>
<p>
	Occurs on page <%= comment.pageNum %>
</p>
<p>
	<%= link_to 'View Discussion Topics', new_article_comment_discussion_path(@article, comment) %>
	<%= puts @article %>
	<%= puts comment %>
</p>