<p>
  <h3> <%= @article.title %> </h3>
</p>
 
<p>
  <h4><%= @article.author %></h4>
</p>

<h2>Events Up to Page <%= @userPage %></h2>
<%= render @commentsToShow %>
 
<h2>Add a New Event</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Back', articles_path %>